
<div class="container clearfix">
  
  <div class="content">
    <%= image_tag @user.gravatar_url,width:"300px"%>
  </div>
  <div class="content">
      <h3><%= @user.name %></h3>
      <p><%= @user.email %></p>
      <p><%= @user.intro %></p>
      <% if @user.email == current_user.email %>
        <button type="button" class="btn btn-default"><%= link_to "Edit", edit_user_path %></button>
      <% end %>

  </div>

</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong><%= @commented_restaurants.count %></strong> Commented Restaurants</h3>
  </div>
  <div class="panel-body">
    <% @commented_restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
      <div class="my-restaurant">
        <div>
          <%= image_tag restaurant.image, class: "img-rounded" %>
        </div>
        <h5><%= restaurant.name %></h5>
      </div>
      <% end %>
 
    <% end %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong><%= @user.favorited_restaurants.count %></strong> Favorite Restaurant</h3>
  </div>
  <div class="panel-body">
    <% @user.favorited_restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
      <div class="my-restaurant">
        <div>
          <%= image_tag restaurant.image, class: "img-rounded" %>
        </div>
        <h5><%= restaurant.name %></h5>
      </div>
      <% end %>
 
    <% end %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong><%= @user.followings.count %></strong> Followings</h3>
  </div>
  <div class="panel-body">
    <% @user.followings.each do |user| %>
      <%= link_to user_path(user) do %>
      <div class="my-restaurant">
        <div>
          <%= image_tag user.avatar, class: "img-rounded" %>
        </div>
        <h5><%= user.name %></h5>
      </div>
      <% end %>
 
    <% end %>
  </div>
</div>