<h1><%= @restaurant.name %><h1>
<div class="well well-lg">
<%= image_tag @restaurant.image, width: "300px" %>
<%= @restaurant.tel %><br>
<%= @restaurant.address %><br>
</div>
<div class="well well-lg"><%= @restaurant.description %></div>
<br>

<br>

<%= link_to "Back to Index",admin_restaurants_path %>